@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url(/assets/donateimg.jpg);
  background-size: cover; */
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: rgb(63, 63, 63);
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.link::selection {
  color: #292929;
}

.txt::selection {
  color: #007bff;
}

.txt1::selection {
  color: #303030;
}
span {
  text-decoration: underline;
  color: #007bff !important;
}
span::selection {
  color: #3b3b3b !important;
}

.icon {
  color: #2e2e2e;
}

ul {
  list-style-type: none;
}

.sub {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #077bff;
  font-size: 2rem;
  position: absolute;
}
.sub::selection {
  color: #292929;
}

/** =======================
* Contenedor Principal
===========================*/
.row1 {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}

.color {
  color: #fff;
}

.accordion a {
  color: #b63b4d;
  text-decoration: none;
}

.accordion h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

.accordion h1 a {
  color: #2c97c1;
  font-size: 16px;
}

.accordionf {
  margin-top: 60px !important;
}
.accordion {
  width: 100%;
  max-width: 300px;
  margin: 10px 0px 20px;
  background: #3e97fd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: grab;
}

.accordion:hover {
  background-color: #0077ff;
}

.accordion .link {
  cursor: grab;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion .link:active {
  cursor: grabbing;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  list-style: none;
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #e2e2e2;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  list-style: none;
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  list-style: none;
  color: #ffffff;
}

.accordion li.open i {
  list-style: none;
  color: #ffffff;
}

.accordion li.open i.fa-chevron-down {
  list-style: none;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/

.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", Arial, Helvetica, Sans-serif, Verdana, Tahoma;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #6967ff;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 99;
  background-color: #f1f1f1 !important;
  color: #ffffff !important;
  width: 95% !important;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #f1f1f1 !important;
  color: #0062cc !important;
  width: 75% !important;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 9999;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f2f2f2b0;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(1.8);
}

nav h1 {
  margin: 0;
  color: #007bff;
  font-size: 28px;
  text-shadow: 1px 1px #c5c5c5cc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}

.menutoggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #0062cc url(/assets/open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  z-index: 10000;
  transition: 1s;
}

.menutoggle:hover {
  background: #555555 url(/assets/open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.menutoggle.active {
  top: 5px;
  right: 5px;
  background: #3b3b3f url(/assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  transition: 1.2s;
  border-radius: 100px;
}

.menutoggle.active:hover {
  background: #3a3a3a url(/assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.navigation {
  display: none;
  position: fixed;
  bottom: 100%;
  right: 0;
  width: 23%;
  height: 100%;
  background: #2f80ed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: auto;
  visibility: hidden;
  opacity: 0;
}

.navigation-style-1,
.navigation-style-2,
.navigation-style-3 {
  display: none;
  position: fixed;
  bottom: 100%;
  right: 0;
  /* left: 100%; */
  width: 23%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.3s;
  cursor: auto;
  visibility: hidden;
  opacity: 0;
}

.navigation-style-1.active,
.navigation-style-2.active,
.navigation-style-3.active,
.navigation.active {
  visibility: visible;
  opacity: 1;
  bottom: 0;
  /* left: 80%; */
  transition: 1.3s;
}

.navigation-style-1 {
  background-color: #9ecdff;
}
.navigation-style-2 {
  background-color: #3898ff;
}
.navigation-style-3 {
  background-color: #007bff;
}
.navigation ul {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li input {
  border: none;
  background-color: #2f80ed;
}
.navigation ul li input,
.navigation ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: font-size 0.5s;
}
.navigation ul li input:hover {
  color: #e7e7e7;
  font-size: 3.4em;
  font-weight: 600;
  transition: 0.5s;

  -webkit-transition: font-size 0.5s;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 100;
  display: none;
  transition: opacity 0.3s ease;
}

.popup-overlay.active {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  max-width: 622px;
  background-color: #fff;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #3b3b3b;
}

.popup-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 30px;
}

.popup-content.active {
  transform: scale(1);
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #3b3b3b;
}

#close-popup-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

#close-popup-btn:hover {
  background-color: #3a3939;
}
#close-popup-btn1 {
  background-color: #007bff;
  color: #fff !important;
  border: none;
  padding: 10px 80px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

#close-popup-btn1:hover {
  background-color: #cccccc;
  color: #fff !important;
}

.divbtn {
  display: flex;
  justify-content: space-between;
}

.courses {
  border: 0px;
  background-color: #f2f2f2b0;
}
.courses:hover {
  border: 0px;
  color: #0062cc;
  background-color: #f2f2f2b0;
}

.courses1 {
  border: 0px;
  color: #2b2b2b;
  background-color: #2f80ed;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 9px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .popup-content {
    max-width: 622px;
    background-color: #fff;
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .menutoggle {
    display: block;
  }
  .navigation-style-1.active,
  .navigation-style-2.active,
  .navigation-style-3.active,
  .navigation.active {
    display: block;
    visibility: visible;
    opacity: 1;
    bottom: 0;

    transition: 1.3s;
  }
  .navigation-style-1,
  .navigation-style-2,
  .navigation-style-3,
  .navigation {
    width: 100%;
    display: block;
  }
  .navigation ul li a {
    font-size: 2em;
    color: #111;
    text-decoration: none;
    font-weight: 200;

    -webkit-transition: font-size 0.5s;
  }
  .navigation ul li a:hover {
    color: #f60f20;
    font-size: 3em;
    font-weight: 500;
    transition: 0.5s;

    -webkit-transition: font-size 0.5s;
  }
  .navigation ul,
  .navigation li {
    margin: 15px;
    margin-top: 109px;
    display: block !important;
  }
  nav {
    position: relative;
    height: 60px !important;
  }
  nav ul {
    display: none; /* hide the navigation menu by default */
  }
  nav ul.show-menu {
    display: flex; /* display the menu when the 'show-menu' class is added */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f2f2f2;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  nav ul.show-menu li {
    margin: 10px 0; /* add some spacing between the menu items */
  }
}

@media screen and (max-width: 790px) {
  body {
    /* background-image: url(/assets/donateimg1.jpg);
    background-size: cover; */
    background-color: rgb(241, 241, 241);
  }
  .container {
    width: 80% !important;
  }
  .accordion {
    max-width: 100% !important;
  }
  .row1 {
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 50px;
  }
}
