@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.bankinfo {
  font-family: "Poppins", sans-serif;
  max-width: 500px !important;
  text-align: center !important;
  font-size: 20px;
  background-color: #f1f1f1 !important;
  color: #002c5a !important;
  width: 95% !important;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
}

header {
  background-image: url(/assets/qrbg.jpg);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover {
  background-color: #f2f2f2;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #006699;
  color: #fff;
  border: 2px solid #006699;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #004466;
  border: 2px solid #004466;
}

.qr-container {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 30px;
}

.img {
  width: 50%;
}

@media screen and (max-width: 598px) {
  .img {
    width: 100%;
  }
}
