@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);
}

body::-webkit-scrollbar-thumb {
  background: #007bff;
}

.txt::selection {
  color: #007bff !important;
}
.txt1::selection {
  color: #5c5c5c !important;
}

span {
  text-decoration: underline;
  color: #007bff !important;
}
span::selection {
  color: #3b3b3b !important;
}

.icon {
  color: #6e6e6e;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
  position: fixed;
  width: 97%;
  background-color: #f2f2f286;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(1.8);
}

nav h1 {
  margin: 0;
  color: #007bff;
  font-size: 28px;
  text-shadow: 1px 1px #f2f2f2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}

.menutoggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #0062cc url(/assets/open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  z-index: 10000;
  transition: 0.9s;
}

.menutoggle:hover {
  background: #555555 url(/assets/open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.menutoggle.active {
  top: 5px;
  right: 5px;
  background: #3b3b3f url(/assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  transition: 0.9s;
  border-radius: 100px;
}

.menutoggle.active:hover {
  background: #3a3a3a url(/assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.navigation {
  display: none;
  position: fixed;
  bottom: 100%;
  right: 0;
  width: 23%;
  height: 100%;
  background: #2f80ed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: auto;
  visibility: hidden;
  opacity: 0;
}

.navigation-style-1,
.navigation-style-2,
.navigation-style-3 {
  display: none;
  position: fixed;
  bottom: 100%;
  right: 0;
  /* left: 100%; */
  width: 23%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  cursor: auto;
  visibility: hidden;
  opacity: 0;
}

.navigation-style-1.active,
.navigation-style-2.active,
.navigation-style-3.active,
.navigation.active {
  visibility: visible;
  opacity: 1;
  bottom: 0;
  /* left: 80%; */
  transition: 0.9s;
}

.navigation-style-1 {
  background-color: #9ecdff;
}
.navigation-style-2 {
  background-color: #3898ff;
}
.navigation-style-3 {
  background-color: #007bff;
}
.navigation ul {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li input {
  border: none;
  background-color: #2f80ed;
}
.navigation ul li input,
.navigation ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: font-size 0.5s;
}
.navigation ul li input:hover {
  color: #e7e7e7;
  font-size: 3.4em;
  font-weight: 600;
  transition: 0.5s;

  -webkit-transition: font-size 0.5s;
}

.hero {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin: 0;
  color: #333;
  text-shadow: 2px 2px #f2f2f2;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
  color: #555;
  line-height: 1.5;
}

.hero button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero button:hover {
  cursor: grab;
  background-color: #0062cc;
}
.hero button:active {
  cursor: grabbing;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

section {
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

section h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  color: #333;
  text-shadow: 2px 2px #f2f2f2;
}

section p {
  font-size: 18px;
  margin: 20px 0;
  color: #555;
  line-height: 1.5;
}

section a {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: grab;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

section a:hover {
  background-color: #0062cc;
}
section a:active {
  cursor: grabbing;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 9px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .menutoggle {
    display: block;
  }
  .navigation-style-1.active,
  .navigation-style-2.active,
  .navigation-style-3.active,
  .navigation.active {
    display: block;
    visibility: visible;
    opacity: 1;
    bottom: 0;

    transition: 0.9s;
  }
  .navigation-style-1,
  .navigation-style-2,
  .navigation-style-3,
  .navigation {
    width: 100%;
    display: block;
  }
  .navigation ul li a {
    font-size: 2em;
    color: #111;
    text-decoration: none;
    font-weight: 200;

    -webkit-transition: font-size 0.5s;
  }
  .navigation ul li a:hover {
    color: #f60f20;
    font-size: 3em;
    font-weight: 500;
    transition: 0.5s;

    -webkit-transition: font-size 0.5s;
  }
  .navigation ul,
  .navigation li {
    margin: 40px;
    margin-top: 90px;
    display: block !important;
  }
  nav {
    position: relative;
  }
  nav ul {
    display: none; /* hide the navigation menu by default */
  }
  nav ul.show-menu {
    display: flex; /* display the menu when the 'show-menu' class is added */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f2f2f2;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  nav ul.show-menu li {
    margin: 10px 0; /* add some spacing between the menu items */
  }

  #menu-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .popup-content {
    max-width: 622px;
    background-color: #fff;
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}

@media screen and (max-width: 458px) {
  .hero {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 100;
  display: none;
  transition: opacity 0.3s ease;
}

.popup-overlay.active {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  max-width: 622px;
  background-color: #fff;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #3b3b3b;
}

.popup-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 30px;
}

.popup-content.active {
  transform: scale(1);
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #3b3b3b;
}

#close-popup-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

#close-popup-btn:hover {
  background-color: #3a3939;
}
